h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.pioneer-bank-login {
    padding: 150px 0;
}
.login-form {
    margin-top: 100px;
    padding: 50px;
    box-shadow: 3px 3px 20px gray;
    border-radius: 10px;
}
.login-form input:focus {
    outline: 0;
    border-color: #28a745;
    box-shadow: none;
}